/* This is a header */
header {
    text-align: center;
    font-size: 50px;
    font-style: italic;
    color: brown;
    padding-bottom: 30px;
}


/* this is a navbar  */
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
}


.navbar img {
    width: 150px;
}


.navbar ul li a {
    text-decoration: none;
}

input {
    border-radius: 20px;
    font-size: 20px;

}


.navbar ul {
    display: flex;
    gap: 60px;
    font-size: 25px;
}


.navbar ul li a {
    color: black;
}


.parent h1 {
    text-align: depth;
    font-size: 60px;
    margin-left: 250px;
}


.parent {
    background-image: url(nekles1.jpg);
    color: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    font-style: italic;
}

.parent p {
    font-weight: bold;
    margin-left: 250px;
    font-size: 30px;
}



button {
    margin-left: 250px;
    font-size: 30px;
    border-radius: 20px;
    background-color: cornflowerblue;
    color: antiquewhite;
    border: 5px;
    border-color: aliceblue;
}


.parent1 {
    background-color: burlywood;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    font-style: italic;
    color: ;
}

.parent1 h1 {
    text-align: center;
}

.parent1 p {
    font-size: 20px;
    font-style: oblique;
    text-align: center;
    color: darkmagenta;
    font-weight: bold;
}

/* this is 2 bacground image set formate  */

.bgi1 {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.bgimg1 {
    background-image: url(g.avif);
    height: 400px;
    width: 580px;
    background-repeat: no-repeat;
    padding-right: 0px;
    margin-left: 20px;
}

.bgimg2 {
    background-image: url(payal2.jpg);
    height: 400px;
    width: 600px;
    background-repeat: no-repeat;
    padding-right: 0px;
    margin-left: 0px;
}


.bgimg3 {
    background-image: url(bgdiamonds.avif);
    height: 400px;
    width: 550px;
    background-repeat: no-repeat;
    padding-right: 50px;
    margin-right: 20px;
}

.bgi1 .bgimg1 button {
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    background-color: beige;
    color: darkgreen;
    margin-left: 10px;
    margin-top: 0px;
}

.bgi1 .bgimg1 p {
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    color: aqua;
    padding-left: 10px;
}

.bgi1 .bgimg1 h1 {
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
    color: yellowgreen;
    padding-left: 10px;
}


.bgi1 .bgimg2 button {
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    background-color: white;
    color: black;
    margin-left: 10px;
    margin-top: 0px;
}

.bgi1 .bgimg2 p {
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    color: darkblue;
    padding-left: 10px;
}

.bgi1 .bgimg2 h1 {
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
    color: black;
    padding-left: 10px;
}

.bgi1 .bgimg3 button {
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    background-color: gold;
    color: red;
    margin-left: 10px;
    margin-top: 0px;
}

.bgi1 .bgimg3 p {
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    color: blue;
    padding-left: 10px;
}

.bgi1 .bgimg3 h1 {
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
    color: crimson;
    padding-left: 10px;
}

/* complete 2 bacground image  */

.main p {
    text-align: center;
    color: maroon;
    font-size: 30px;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-style: dashed;
}


.main h1 {
    text-align: center;
    color: black;
    font-size: 50px;
    font-style: italic;
    text-decoration-line: underline; 
    text-decoration-style: wavy;
}


.parent3 {
    background-color: darksalmon;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    text-align: center;
}


.parent3 h1 {
    font-style: italic;
}


.parent3 p {
    font-size: 20px;
    color: darkred;
    font-weight: bold;
    margin-top: -10px;
}

/* this is a bangles  */
.parent4 {
    background-image: url(bangles1.jpg);
    height: 600px;
    background-repeat: no-repeat;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 40px;
    align-items: center;
    text-align: left;
    padding: 140px;
    font-style: italic;
    color: white;
    margin-right: 30px;
}

.ch15 h1 {
    margin-top: -50px;
    margin-left: -70px;
    argin-top: -100px;
}

.ch15 p {
    color: black;
    margin-left: -70px;
    margin-top: -65px;
    font-weight: bold;
}


.ch15 button {
    border-radius: 0%;
    color: red;
    background-color: white;
    margin-left: -80px;
    argin-top: -100px;
}

/* this is logo  */
.parent5 {
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 50px;

}


.main2 p{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    text-decoration-line: underline;
    font-size: 30px;
    color: darkmagenta;
}

.main2 h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

.parent6{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background-color: antiquewhite;
    text-align: center;
    color: forestgreen;
    font-style:italic ;

}
.parent6 p{
    color: red;
    font-size: 20px;
    font-weight: bold;
}


.ch22{
    padding-top: 30px;

}

.ch23{
    margin-left: 50px;
    margin-right: 50px;


}

.ch24{
    padding-top: 30px;

}


/* this is last list menu ba  */
.parent2 {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: antiquewhite;
    font-size: 20px;
}